@media (min-width: 900px) {
    section {
      width: 800px;
      height: 300px;
      img {     
        border-radius: 0 10px 10px 0;     
      }

    }
    footer {
        text-align: center;
    }
  }
