  @media (min-width: 750px) {
    section {
      display: flex;
      flex-direction: row-reverse;
      width: 700px;
      height: 300px;
      text-align: center;
      img {
        height: 100%;
        border-radius: 0 10px 10px 0;
      }
      h1 {
        font-size: 1.4em;
      }
    }
    #main {
      text-align: center;
    }
    #stats {
      display: flex;
      align-items: flex-end;
    }
    .font {
      padding: 0 20px 5px 20px;
      justify-content: center;
    }
  }