@import 'resets';
@import 'variables';
@function weights ($weight-name) {
    @return map-get($font-weights, $weight-name);
}
body {
    background-color: $vdarkblue;
}

section {
    background-color: $darkdblue;
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 50px;
    text-align: center;
    img {
        width: 300px;
        display: flex;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        
    }
    h1 {
        color: white;
        font-weight: weights(bold);
        font-family: $headings;
        padding: 20px 40px 15px 40px
    }
    #main {
        color: $white75;
        font-family: $paragraph;
        padding: 2px 20px 10px 20px;
        letter-spacing: 2px;
        line-height: 18px;
        font-size: 0.7rem;
    }
}
#insights {
    color: $softviolet
}
.font {
    color: $white60;
    font-family: $paragraph;
    text-transform: uppercase;
    font-size: 0.6rem;
    padding-bottom: 10px;
}
.stat {
    font-family: $headings;
    color: white;
    font-weight: weights(bold);
    padding-bottom: 8px;
}
strong {
    color: white;
    font-family: $headings;
}
footer {
    font-family: $paragraph;
    text-align: center;
    color: $white60;
    margin-top: 10px;
    font-size: 12px;
    a {
        color: white;
        text-decoration: none;
    }
}
