@use 'mixins' as *;


@include m-small {
    body {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
    }
    .stats {
        display: flex;
        justify-content: space-between;
        padding: 2px 80px 8px 80px;
        font-size: 0.95rem;
    }
    .text-box {
        order: -1;
        padding: 8px;
        height: 100%;
    }
}
@include m-medium {
        .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        align-items: center;
        width: 680px;
        }
        .text-box {
            order: -1;
            padding: 20px;
            height: 100%;
        }
        h1 {
            font-size: 1.4rem;
        }
        .main {
            font-size: 0.91rem;
            text-align: left;
        }
        .stats {
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }      
}

@include m-big {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        width: 800px;
        align-items: center;
    }
    .text-box {
        order: -1;
        padding: 15px;
        height: 100%;
    }
    h1 {
        font-size: 1.7rem;
    }
    .main {
        font-size: 1rem;
        text-align: left;
        line-height: 1.2;
    }
    .stats {
        display: flex;
        justify-content: space-between;
        padding: 15px 50px 15px 50px;
    }
}
@include m-bigger {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        align-items: center;
        width: 1000px;
    }
    .text-box {
        order: -1;
        height: 100%;
        padding: 20px;
    }
    h1  {
        font-size: 1.75rem;
    }
    .main {
        text-align: left;
        line-height: 1.2;
    }
    .stats {
    display: flex;
    justify-content: space-between;
    padding: 20px 70px 20px 70px;
    font-size: 0.97rem;
}
}




