@media (min-width: 700px) {  
  body {
    background-color: $vdarkblue;
    font-family: $paragraph;
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-size: 15px;
    .container {
        max-width: 1020px;
        margin: 0 auto;
    }
    .wrapper {
        background-color: $darkdblue;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 10px;
        overflow: hidden;
        margin: 2rem;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: sepia(45%) saturate(811%) hue-rotate(228deg) brightness(50%) contrast(100%);
  }

  .text-box {
    padding: 70px;
    .heading {
        color: white;
        font-family: $headings;
        font-weight: weights(bold);
        padding-bottom: 20px;
        #insights {color: $softviolet;}
    }
    .main {
        color: $white75;
        padding-bottom: 20px;
        line-height: 1.3;
    }
  }

  .stats {
    display: flex;
    justify-content: space-between;
    .num {
        color: white; 
        font-weight: weights(bold);
        font-family: $headings;
        font-size: 22px;
        padding-top: 50px;
    }
    .font {
        text-transform: uppercase;
        color: $white60;
    }
  }
} 