//* COLORS 
    //! PRIMARY
$vdarkblue: hsl(233, 47%, 7%); //~ BACKGROUND
$darkdblue: hsl(244, 38%, 16%); //~ CARD
$softviolet: hsl(277, 64%, 61%); //~ ACCENT

    //! NEUTRAL
$white75: hsla(0, 0%, 100%, 0.75); //~ MAIN PARAGRAPH
$white60: hsla(0, 0%, 100%, 0.6); //~ STAT HEADINGS

//* FONTS
    //! INTER 
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
    $headings: 'Inter', sans-serif;
    

    //! LEXEND DECA
    @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
    $paragraph: 'Lexend Deca', sans-serif;

//* WEIGHTS
$font-weights: (
    "regular": 400,
    "bold": 700
)
